ion-view(view-title='个人信息')
  ion-content
    ion-list.list-inset.padding-top
      ion-item.item-thumbnail-right.item-icon-right
        img(ng-src="{{user.avatar}}")
        div.label
          | 头像
        .icon.ion-chevron-right.icon-accessory.padding-left
    ion-list.list-inset
      ion-item 账户
        span.item-note {{user.name}}
      ion-item ID
        span.item-note {{user.id}}
      ion-item 角色
        span.item-note {{userRolesMap[user.userRoleId].name}}