ion-modal-view
  ion-header-bar
    .title 修改密码
    .buttons
      button.color-bule.button.button-clear(ng-click='mustChoise?cancelModal():closeModal()') 取消
  ion-content.changePassword
    form(role='form' name="userForm" ng-submit="ok(userForm)" novalidate)
      div.list.padding-top
        .item.item-input.item-stacked-label(ng-class="{'has-error':userForm.oldPassord.$invalid && !userForm.oldPassord.$pristine}")
          //span.input-label 旧密码
          input(name='oldPassord',placeholder="请输入原始密码", type='password', value='' ng-model='formData.oldPassword' required ng-minlength="6" ng-maxlength="12" ng-change='clearPasswordError()')
          span.energized(ng-show="userForm.oldPassord.$error.minlength && !userForm.oldPassord.$pristine") Less than 6
          span.energized(ng-show="userForm.oldPassord.$error.maxlength && !userForm.oldPassord.$pristine") More than 12
        .item.item-input.item-stacked-label(ng-class="{'has-error':userForm.password.$invalid && !userForm.password.$pristine}")
          //span.input-label 新密码
          input(name='password', placeholder="请输入新密码", type='password', value='' ng-model='formData.password' required ng-minlength="6" ng-maxlength="12")
          span.energized(ng-show="userForm.password.$error.minlength && !userForm.password.$pristine") 少于6位
          span.energized(ng-show="userForm.password.$error.maxlength && !userForm.password.$pristine") 多于12位
        .item.item-input.item-stacked-label(ng-class="{'has-error':passwordInvalid && !userForm.passwordAgain.$pristine}")
          //span.input-label 再次输入密码
          input(name='passwordAgain', placeholder="请再次输入新密码", type='password', value='' ng-model="formData.passwordAgain" required)
          span.energized(ng-show="passwordInvalid && !userForm.passwordAgain.$pristine") 两次输入密码不一致
        span.energized(ng-if="loginErrMsg") {{loginErrMsg}}
      label
        button.button.button-block.button-calm(type="submit" ng-disabled="userForm.$invalid || passwordInvalid") 确认修改