ion-modal-view#image-modal
  ion-content(ng-click="closeModal()")
    ion-slide-box(active-slide="index" show-pager="false" does-continue="true" auto-play="true")
      ion-slide(ng-repeat="image in images")
        img.modal-image(ng-src="{{image}}")
    //- img.modal-image(ng-src="{{(images[index])}}" on-swipe-left="index=(index===images.length-1?0:index+1)" on-swipe-right="index=(index===0?images.length-1:index-1)")