ion-modal-view
  ion-header-bar
    .title Change Passord
    .buttons
      button.color-bule.button.button-clear(ng-click='mustChoise?cancelModal():closeModal()') Cancel
  ion-content
    form(role='form' name="userForm" ng-submit="ok(userForm)" novalidate)
      div.list.padding-top
        .item.item-input.item-stacked-label(ng-class="{'has-error':userForm.oldPassord.$invalid && !userForm.oldPassord.$pristine}")
          span.input-label Old Password
          input(name='oldPassord', type='password', value='' ng-model='formData.oldPassword' required ng-minlength="6" ng-maxlength="12" ng-change='clearPasswordError()')
          span.energized(ng-show="userForm.oldPassord.$error.minlength && !userForm.oldPassord.$pristine") Less than 6
          span.energized(ng-show="userForm.oldPassord.$error.maxlength && !userForm.oldPassord.$pristine") More than 12
        .item.item-input.item-stacked-label(ng-class="{'has-error':userForm.password.$invalid && !userForm.password.$pristine}")
          span.input-label New Password
          input(name='password', type='password', value='' ng-model='formData.password' required ng-minlength="6" ng-maxlength="12")
          span.energized(ng-show="userForm.password.$error.minlength && !userForm.password.$pristine") Less than 6
          span.energized(ng-show="userForm.password.$error.maxlength && !userForm.password.$pristine") More than 12
        .item.item-input.item-stacked-label(ng-class="{'has-error':passwordInvalid && !userForm.passwordAgain.$pristine}")
          span.input-label Password Again
          input(name='passwordAgain', type='password', value='' ng-model="formData.passwordAgain" required)
          span.energized(ng-show="passwordInvalid && !userForm.passwordAgain.$pristine") Difference
        span.energized(ng-if="loginErrMsg") {{loginErrMsg}}
      label
        button.button.button-block.button-calm(type="submit" ng-disabled="userForm.$invalid || passwordInvalid") Change