//
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
ion-view(view-title='订单详情')
  ion-nav-buttons(side="right")
    button.button.button-clear(ng-click="" style="font-family: Microsoft YaHei;font-weight: 500;") 发送
  ion-content
    div(style="padding-left:10px")
      h4(style="color:#3191fd;")
        span(style="color:#ff4343") [未完成]
        标题标题
        span(style="float:right;color:#a6a6a6;font-size:80%;line-height:21px;") 2015-01-01 16:57
      img(ng-src='img/add-photo.png', style='width: 64px; height: 64px')
    div.detail
      p 客户姓名：
        span XXXX
      p 驳货地址：
        span 东方国际江心沙路3388号
      p 同行编号：
        span WM150913YD-HAM
      p 进仓编号：
        span 13843232372
      p 件数：
        span 5
      p 立方：
        span 3
      p 吨位：
        span 2878
