ion-list
  ion-item.item-remove-animate.item-icon-right.orderList.orderD(ng-repeat='order in dOrders', type='item-text-wrap', href='#/app/orders/{{order.id}}')
    img.status(ng-src='img/unfinish.png' )
    img.orderImg(ng-src='img/orderImg.jpg')
    .intro
      h3 
        span.unfinish(ng-if="order.orderStatusId!=='F'")
          | {{order.address}} {{order.parterNo}}
      p 
        span 
          | {{_.round(order.count)}}件
          | {{_.round(order.volume, 2)}}方
          | {{_.round(order.weight,2)}}kg
        br
        span {{order.warehouseReceptNo}} {{order.parterNo}} 
      span {{order.updatedAt|date:'yyyy-MM-dd hh:mm'}}
    i.icon.ion-chevron-right.icon-accessory