ion-view(view-title='设置')
  ion-content
    ion-list.list-inset.padding-top
      ion-item.item-icon-right(ng-click="changePassword()")
        | 修改密码
        .icon.ion-chevron-right.icon-accessory
    label
      button.button.button-block.button-calm(ng-click="logout()") 登出