ion-view(view-title='Setting')
  ion-content
    ion-list.list-inset.padding-top
      ion-item.item-icon-right(ng-click="changePassword()")
        | Change Password
        .icon.ion-chevron-right.icon-accessory
    label
      button.button.button-block.button-calm(ng-click="logout()") Logout